@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100vh;
}

.map {
  height: 100vh;
}

.info {
  height: 100vh;
  background-color: white;
  position: absolute;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.con {
  display: grid;
  grid: 10fr 2fr;
}

.head {
  text-align: center;
}

.card {
  /* position: absolute;
  right: 0; */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  margin-bottom: 20px;
}

.cardbox {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  margin-bottom: 20px;
  padding: 10px;
}

.cardd {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  margin-bottom: 20px;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 92vh;
}

.card-header {
  background-color: #f0f0f0;
  padding: 3px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.card-body {
  padding: 3px;
  background-color: #ccc;
}

.card-body p {
  margin: 0;
  font-size: 14px;
}

#menu {
  display: none;
}

@media only screen and (max-width: 992px) {
  #menu {
    display: block;
  }

  #users {
    display: none;
  }

  #menu {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  #closeDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }
}

@media only screen and (max-height: 718px) {
  .cardd {
    max-height: 90vh;
  }
}

@media only screen and (max-height: 640px) {
  .cardd {
    max-height: 88vh;
  }
}

@media only screen and (max-height: 540px) {
  .cardd {
    max-height: 86vh;
  }
}

@media only screen and (max-height: 440px) {
  .cardd {
    max-height: 83vh;
  }
}

@media only screen and (max-height: 340px) {
  .cardd {
    max-height: 80vh;
  }
}