@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100vh;
}
.map {
  
  height: 100vh;
   
 
}
.info {
  height: 100vh;
  background-color: white;
  position: absolute;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.con {
  display: grid;
  grid: 10fr 2fr;
}

.head {
  text-align: center;
}
.card {
  /* position: absolute;
  right: 0; */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
  margin-bottom: 20px;
 
 
}
.cardbox {
  /* position: absolute;
  right: 0; */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  margin-bottom: 20px;
  padding: 10px;
   

}
.cardd {
  /* position: absolute;
  right: 0; */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  margin-bottom: 20px;
  padding: 20px;
 overflow: scroll;
 max-height: 90vh;
 
  
  
}
.card-header {
  background-color: #f0f0f0;
  padding: 3px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.card-body {
  padding: 3px;
  background-color: #ccc;
}

.card-body p {
  margin: 0;
  font-size: 14px;
}